[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rifi"]
	path = rifi
	url = https://github.com/cyanolabfreiburg/rifi
[submodule "rifiComparative"]
	path = rifiComparative
	url = https://github.com/cyanolabfreiburg/rificomparative
